.RightSlide{
    height: 100%;
}

.openSlider{
    position: absolute;
    right: 0;
    background: pink;
    width: 80%;
    height: 100%;
    transition: width 0.3s ease;
    overflow:hidden;
}

.closeSlider{
    position: absolute;
    right: 0;
    overflow-x:hidden;
    background: pink;
    width: 0px;
    transition: width 0.3s ease;
    height: 100%;
}

.menuButton{
    background: lightseagreen;
    width: 100%;
    flex: 1;
    flex-direction: column;
}

.containers {
    position: relative;
    min-width: 100%;
}

.img {
    width: 100%;
    image-rendering: auto
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    color: rgb(241, 241, 241);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.closeBtn:hover {
    background-color: rgb(187, 3, 3);
    color: rgb(158, 158, 158);
}
