.footerBtn{
    width: 20%;
    min-width: 100px;
    height: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    background: rgb(240,240,240);
    color: #565656;
    border: 0;
    font-size: 13px;
}

.header{
    min-height: 50px;
    background: #5a5a5a;
    color: white;
}

.footer{
    min-height: 35px;
}

.close span{
    color: white;
}

